<html>
    <head>

    </head>
    <boby>
        <form action="/DeleteRequest" method="POST">
            <input type="text" name="hold" value="this">
            <input type="submit" name="submit" value="submit">
        </form>
    </boby>
</html>