<ActionBar title="Requests in this room"></ActionBar>
<GridView>
    <ScrollView>
        <StackLayout>
            <Label [text]="roomId"></Label>
            <Button text="New Request" (tap)="onNewRequestTap()"></Button>
            <StackLayout *ngFor="let request of requests">
                <StackLayout *ngIf="request.roomId == roomId">
                    <Image [src]="request.requestImage" stretch="none"></Image>
                    <Label [text]="request.description"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridView>